extends layout

block content
  h1= title
  p Welcome to #{title}

  p List of users: 
  div
    if userList.length > 0
        each user in userList 
            h3= user.name
            ul #[strong Position:] #{user.position}
            ul #[strong Project:] #{user.project}
    else 
        p No users to show
        //- - if userList.length > 0 {
        //-     for user in userList
        //-         p= user.name  
        //- -   }
